.delete {
  margin-top: 20px;
}

body {
  background-color: BlanchedAlmond;
}

#center-warn {
  text-align: center;
  margin: 100px;
  border-style: dashed;
  border-width: : 4px;
  border-color: crimson;
  border-radius: 20px;
}

#center-warn button {
  width: 100%;
}
