<!doctype html>
<html>
  <head>
    <title>Band and Venues</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/css/app.css" type="text/css">
  </head>
  <body>
    <div class="container">

      <div class="pagehead">
        <h1>Bands and Their Venues,</h1> <h2>Venues and Their Bands</h2>
      </div>

      <div class="row">
        <div id="left-col" class="col-md-6">
          <h2>Bands</h2>

          <form action="/" method="post">
            <div class="form-group">
              <select id="venue" name="venue" class="form-control" type="text" onchange="this.form.submit();">
                <option selected="true" disabled="disabled">Choose a Venue</option>
                #foreach($venue in $venues)
                <option value="$venue.getId()">$venue.getName()</option>
                #end
              </select>
            </div>
          </form>

          #if($listVenueName)
          <h4>$listVenueName</h4>
          #end
          <ul>
            #foreach ($venue in $venues)
            <a href="/venue/$venue.getId()"><li>$venue.getBandName()</li></a>
            #end
          </ul>

          ## Edit Database Control Panel
          <a id="add-band" href="/add-band"><button class="btn btn-info">Add a Band</button></a>
          <a id="add-venue" href="/add-venue"><button class="btn btn-info">Add an Venue</button></a>
        </div>
        <div id="right-col" class="col-md-6">
          #parse( $template )
        </div>
      </div>


    </div>
  </body>
</html>
